body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  background-color: #f0f0f0;
  
}


.container {
  /*color: #4c3c3c;*/
  color: #2B283A;
  background-color: #f0f0f0;
}

.container.dark {
  color: #fff;
  /*background-color: #f0f0f0; */
}

/* Start NavBar */

.header {
  /*position: sticky;*/
  top: 0;
  /*z-index: 10;*/
  width: 100%;
}

.nav-bar {
  box-shadow: 0 3px 5px rgb(163, 158, 158);
}

.footer {
  box-shadow: 0 0 10px rgb(163, 158, 158);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  font-size: 0.6rem;
  background-color: #ffffff;
  /*background-color: #4c3c3c;*/
  height: 50px;
}

.app-name {
  font-weight: bold;
  margin-right: auto;
  font-size: 1.1rem;
}

.app-name:hover {
  cursor: pointer;
  color: rgb(215, 214, 214);
}

.item:hover{
  cursor: pointer;
  color: rgb(226, 214, 214);
}

.nav-items {
  display: flex;
  gap: 0.5vw;
  padding: 0;
  margin-right: 25px;
  font-weight: bold;
}

label{
  font-size: 1rem;
  /*font-size: 1.2rem;*/
}

label:hover{
  cursor: pointer;
}


.toggler {
  display: flex;
  align-items: center;
  /*margin-right:0 ;*/
}

.toggler p {
  /*font-size: 0.625rem;*/
  font-size: 1rem;

  font-weight: 600;
}

select {
  cursor: pointer;
  /*background-color: #2B283A;*/
  /*border-radius: 2rem;*/
  /*color: #2B283A;  */
  /*width: 60px;*/
  /*height: 20px; */
}

.toggler-slider {
  width: 40px;
  height: 12px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
  margin: 0px 8px;
}


.toggler-slider-circle {
    height: 12px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
}


.nav-bar.dark .toggler-slider {
  border-color: white;
  background-color: #F5F5F5;
}

.nav-bar.dark .toggler-slider-circle {
    background-color: black;
}

.toggler-light {
    color: #2B283A;
}

.nav-bar.dark .toggler-light {
    color: #918E9B;
}

.toggler-dark {
    color: #D5D4D8;
}

.nav-bar.dark .toggler-dark {
    color: #FFFFFF;
}

.nav-bar.dark .toggler-slider {
    justify-content: flex-end;
}


/*End NavBar*/

.footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5vw;
  font-weight: bold;
  background-color: #fff;
  height: 50px;
  width: 100%;
}

.footer.dark, .nav-bar.dark, .app.dark {
  background-color: #2B283A;
}


.app {
  width: 90vw;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 3px 5px rgb(163, 158, 158);
  /*box-shadow: 0 3px 5px #4c3c3c;*/
  /*border: 1px solid #4c3c3c;*/
}

.app-heading {
  text-align: center;
  padding-bottom: 30px;
}

.title {
  font-weight: bold;
}

.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.custom-row {
  padding: 10px;
  border-bottom: 0.5px solid rgb(230, 222, 222);
  /*border-bottom: 0.5px solid #4c3c3c;*/
  min-height: 30px;
}

.two {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}


.to-do {
  border: none;
  /*padding: 5px 0;*/
  margin: 0;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-right: 6px;
  width: 100%;
  min-height: 50px;
  /*color: rgb(134, 122, 122);*/
  font-size: 1.1rem;
}

.to-do:focus {
  border: none;
  outline: none;
}

.fa-check:checked ~ .to-do {
  color: rgb(150, 145, 145);
}

.cross-out {
  text-decoration: line-through;
  color: #ccc;
}

.fa-check:checked ~ .cross-out {
  color: #ccc;
}

.checkbox:hover {
  cursor: pointer;
}

.clear-all {
  text-align: center;
  line-height: 30px;
  /*background-color: #f0f0f0;*/
  border-bottom: none;
}

.clear-text:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(75, 66, 66);
}

.to-do-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}


.placeholder {
  font-style: italic;
  color: #fff;
}

.placeholder::before {
  content: 'Add your task here...';
  font-style: italic;
  color: #bbb;
}

.input {
  border: none;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 0 0 0 20px;
  width: 90%;
  background-color: inherit;
  font-size: 1.2rem;
  color: rgb(150, 145, 145);
  font-style: italic;
}

.input:focus {
  border: none;
  outline: none;
}

.no-tasks{
  text-align: center;
  color: #bbb;
  padding: 1em;
  font-size: 1.25em;

}

.return {
  font-size: 2rem;
  margin-right: 8px;
}

.return:hover {
  cursor: pointer;
}


@media all and (min-width: 786px) {
  .app {
    width: 50vw;
  }

  .nav-bar {
    font-size: 1rem;
  }

  .app-name, label {
    font-size: 1.3rem;
  }
  .toggler-light { font-size: 1.3rem;} 
  .toggler-dark{font-size: 1.3rem;}

  .toggler-slider {
    width: 60px;
    height: 15px;
  }
  .toggler-slider-circle {
    height: 15px;
    width: 15px;
  }
}
